{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<div class="container">

    <div class="encabezado">
        encabezado
    </div>

    <div class="formulario">

        <form class="crear_tarea" action="/" method="post">
            <input type="text" name="descripcion" class="botones">
            <input type="submit" class="crear" value="crear">
        </form>
    </div>

    <div class="boton-submit">
        submit
    </div>

    <div class="tareas">
        <div class="titulo-tareas">todo:</div>
        {% for item in porhacer %}
        <div class="item">
            <form action="/marcar-como-hecho" method="post">
                {% csrf_token %}
                <input type="submit" value="Hecho" />
                <input type="hidden" name="id" value="{{item.id}}">
            </form>
            {{item.descripcion}} </div>
        {% endfor %}
    </div>

    <div class="tareas hechas">
        <div class="titulo-tareas">todo:</div>
        {% for item in hechos %}
        <div class="item"> {{item.descripcion}} </div>
        {% endfor %}
    </div>


    <div class="footnote">
        diseños web
    </div>


</div>
<!--
 <div class="encabezado">
     <div class="col1">1</div>
     <div class="col2">2</div>
     <div class="col3">3</div>
</div>-->


<!--    <select>
     {% for equipo in equipos %}
  <option>{{equipo.nombre}}</option>
     {% endfor %}
</select>



  <select>
     {% for equipo in equipos %}
  <option>{{equipo}}</option>
     {% endfor %}
</select>-->


<!--action=comparar(equipo1,equipo2)-->