{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

 <div class="encabezado">
     encabezado
</div>

 <div class="boton-nuevo">
     nuevo
</div>

<div class="boton-submit">
     submit
</div>

<div class="tareas">
     <div class="titulo-tareas">todo:</div>
         <div class="listado">1</div>
         <div class="listado">2</div>
         <div class="listado">3</div>
         <div class="listado">4</div>
</div>

<div class="hechas">
     <div class="titulo-hechas">done:</div>
         <div class="listado">1</div>
         <div class="listado">2</div>
         <div class="listado">3</div>
         <div class="listado">4</div>
</div>


 <div class="footnote">
     diseños web
</div>

<!--
 <div class="encabezado">
     <div class="col1">1</div>
     <div class="col2">2</div>
     <div class="col3">3</div>
</div>-->





<!--    <select>
     {% for equipo in equipos %}
  <option>{{equipo.nombre}}</option>
     {% endfor %}
</select>



  <select>
     {% for equipo in equipos %}
  <option>{{equipo}}</option>
     {% endfor %}
</select>-->





<!--action=comparar(equipo1,equipo2)-->